.dm-sans-thin {
  font-family: "DM Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.dm-sans-extralight {
  font-family: "DM Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.dm-sans-light {
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.dm-sans-regular {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.dm-sans-medium {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.dm-sans-semibold {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.dm-sans-bold {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.dm-sans-thin-italic {
  font-family: "DM Sans", sans-serif;
  font-weight: 100;
  font-style: italic;
}
.dm-sans-extralight-italic {
  font-family: "DM Sans", sans-serif;
  font-weight: 200;
  font-style: italic;
}
.dm-sans-extralight-italic {
  font-family: "DM Sans", sans-serif;
  font-weight: 200;
  font-style: italic;
}
.dm-sans-light-italic {
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}
.dm-sans-regular-italic {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.dm-sans-medium-italic {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-style: italic;
}
.dm-sans-semibold-italic {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
}
.dm-sans-bold-italic {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}
