@import url("./font.css");
@import url("./animations.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  body,
  .body {
    @apply bg-[#fff] text-[#020202] tracking-wide overflow-x-hidden w-[100vw] min-h-screen;
  }

  ::-webkit-scrollbar {
    width: 7px;
    background: transparent;
  }
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    border-radius: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #0c0c0c;
    border-radius: 10px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  li {
    @apply cursor-pointer;
  }
  li.li {
    list-style: disc;
    margin-left: 30px;
    margin-bottom: 5px;
  }

  p {
    @apply font-light leading-[1.59rem];
  }

  button {
    @apply bg-gradient-to-r from-[#f52f57] to-[#ed6b1a] text-black py-3;
    /* padding: 6px 40px; */
    border-radius: 10px;
    font-weight: 500;
  }

  input,
  select,
  .pass-field {
    height: 42px;
    /* padding: 2px 15px; */
    font-size: 12px !important;
    font-weight: 300;
    border: 2px solid #00000094;
    color: black;
  }

  @media (max-width: 500px) {
    input,
    select,
    .pass-field {
      height: 50px;
    }
  }

  input::placeholder {
    color: #5e6266;
    font-size: 12px;
    font-weight: 400;
  }
}

.images-footer {
  background-image: url("/assets/images/bg-2.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-container {
  max-width: 1400px;
  margin: auto;
}
.container {
  max-width: 1300px;
  margin: auto;
}
.menu-link {
  @apply text-[#000] font-bold hover:text-[#d62a4f];
}
.active {
  color: #d62a4f !important;
  font-weight: bold;
}
.impact {
  background-image: linear-gradient(220deg, #ef6c2b 0%, #fb2564 100%);
}
.card-box1 {
  /* background-image: linear-gradient(220deg, #f52f574f 0%, #ed6b1a5b 100%); */
  @apply rounded-[30px] p-8 md:p-12 border-[1px];
  box-shadow: 4px 4px 8px #2222225e;
}
.card-box2 {
  @apply bg-[#EF6C2B] rounded-[30px] p-8 md:p-12 h-max md:h-[450px];
  box-shadow: 4px 4px 8px #22222289;
}
.title-box {
  background-image: linear-gradient(220deg, #f52f57 0%, #ed6b1a 100%);
  @apply text-white font-bold w-max rounded-[30px] text-center;
}
.banner-section {
  /* background-image: linear-gradient(220deg, #f52f58 0%, #eaebff 100%); */
  /* background-image: linear-gradient(220deg, #eaebff 0%, #8cd1d0 100%); */
  /* background-image: linear-gradient(220deg, #ef6c2b 0%, #134341 100%); */
  /* background-image: linear-gradient(to bottom, #ef6c2b 0%, #fb2564 100%); */
  background-image: linear-gradient(to bottom, #134341 0%, #011212 100%);
}
.why-chumcore-box {
  /* background-image: linear-gradient(220deg, #f52f5733 0%, #ed6b1a3d 100%); */
}

.btnn1 {
  color: #fff;
  background: #3bb6b3;
  border-radius: 25px;
  font-weight: bold;
}
.btnn1:hover {
  /* transform: translateY(9px) translateX(6px) scale(1.05); */
  background: #156866;
  transition: 0.3s ease-in;
}

.upppercase {
  text-transform: uppercase;
}

.title {
  /* transform: scale(0.7, 1.2); */
  display: inline-block;
  line-height: 2.5rem;
}

.enter-btn:hover {
  transform: scale(1.1);
  transition: 1s ease-in-out;
}

/* ANIMATIONS */
@keyframes rightBoxContainer {
  0% {
    transform: translateX(-10px);
  }
  10% {
    transform: translateX(10px);
  }
  20% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes leftBoxContainer {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
